<link rel='stylesheet' id='phl' href='/assets/frontend/phl/css/sign.css' type='text/css' media='all'/>
<div class="splash-content text-center" ng-controller="SignCtrl">

    <div class="modal-contents">

        <div class="modal-header">

            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" ng-click="$close()">×</span><span class="sr-only" ng-click="$close()" translate="CLOSE"></span></button>
            <!-- /Close -->

            <!-- Title -->
            <h4 class="modal-title" ng-bind="title" id="myModalLabel" translate="SIGN IN">SIGN IN</h4>
            <!-- /Title -->

            <!-- Help message -->
            <p ng-bind-html="message" translate="SIGN_NOTICE"></p>
            <!-- /Help message -->

        </div>

        <div class="modal-body">

            <!-- Sign form -->
            <div class="row" ng-show="loginForm === true">
                <div class="col-xs-6">
                    <div class="well">
                        <p class="lead" translate="LOGIN_NOTIFY"></p>
                        <form name="formSign" ng-submit="sign()" role="form">

                            <input type="hidden" name="{{token_id}}" value="{{token_val}}"/>

                            <!-- Login -->
                            <div class="form-group">
                                <input type="text" ng-minlength="3" ng-maxlength="150" class="form-control" name="login" ng-model="login" placeholder="{{ 'LOGIN_PLACEHOLDER' | translate }}" required autofocus>
                                <span ng-show="formSign.login.$dirty && formSign.login.$error.required" class="help-block" translate="LOGIN_REQUIRED"></span>
                            </div>
                            <!-- /Login -->

                            <!-- Password -->
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" ng-model="password" placeholder="{{ 'PASSWORD_PLACEHOLDER' | translate }}" required>
                                <span ng-show="formSign.password.$dirty && formSign.password.$error.required" class="help-block" translate="PASSWORD_REQUIRED"></span>
                            </div>
                            <!-- /Password -->

                            <!-- Show error message -->
                            <div ng-show="signError" class="help-block">{{signError}}</div>
                            <!-- /Show error message -->

                            <button type="submit" class="btn btn-primary btn-block" ng-disabled="formSign.$invalid || dataLoading" translate="SIGN IN">SIGN IN</button>
                            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </form>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="well">
                        <p class="lead" translate="REGISTER_NOTIFY"></p>
                        <ul class="list-privilegies">
                            <li><span class="fa fa-check text-success"></span> {{ 'REGISTER_SA' | translate }}</li>
                            <li><span class="fa fa-check text-success"></span> {{ 'REGISTER_FR' | translate }}</li>
                            <li><span class="fa fa-check text-success"></span> {{ 'REGISTER_SY' | translate }}</li>
                            <li><span class="fa fa-check text-success"></span> {{ 'REGISTER_FC' | translate }}</li>
                            <li ng-controller="TopMenuCtrl"><a href="/agreement#advantages" ng-click="$close()"><u translate="REGISTER_MORE"></u></a></li>
                        </ul>
                        <a ng-click="toggle('registerForm')" translate="REGISTER"></a>
                    </div>
                </div>
            </div>
            <!-- /Sign form -->

            <!-- Register form -->
            <div class="row" ng-hide="registerForm === false">
                <div class="col-xs-12">
                    <div class="well">
                        <p class="lead ng-scope" translate="REGISTER"></p>

                        <form name="formRegister" ng-submit="register()" role="form">

                            <input type="hidden" name="{{token_id}}" value="{{token_val}}"/>

                            <!-- Login -->
                            <div class="form-group">
                                <input type="text" ng-minlength="3" ng-maxlength="150" class="form-control" name="login" ng-model="login" placeholder="{{ 'LOGIN_PLACEHOLDER' | translate }}" required>
                                <span ng-show="formRegister.login.$dirty && formRegister.login.$error.required" class="help-block" translate="LOGIN_REQUIRED"></span>
                            </div>
                            <!-- /Login -->

                            <!-- Name -->
                            <div class="form-group">
                                <input type="text" ng-minlength="2" ng-maxlength="150" class="form-control" name="name" ng-model="name" placeholder="{{ 'NAME_PLACEHOLDER' | translate }}" required>
                                <span ng-show="formRegister.name.$dirty && formRegister.name.$error.required" class="help-block" translate="NAME_REQUIRED"></span>
                            </div>
                            <!-- /Name -->

                            <!-- Password -->
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" ng-model="password" placeholder="{{ 'PASSWORD_PLACEHOLDER' | translate }}" required>
                                <span ng-show="formRegister.password.$dirty && formRegister.password.$error.required" class="help-block" translate="PASSWORD_REQUIRED"></span>
                                <blockquote class="notice" translate="PASSWORD_NOTICE"></blockquote>
                            </div>
                            <!-- /Password -->

                            <!-- Repeat password -->
                            <div class="form-group">
                                <input type="password" class="form-control" name="passwordx" ng-model="passwordx" ng-change="checkPassword()" placeholder="{{ 'PASSWORDX_PLACEHOLDER' | translate }}" required>
                                <span ng-show="formRegister.passwordx.$dirty && formRegister.passwordx.$error.dontMatch" class="help-block" translate="PASSWORDS_NOT_MATCH"></span>
                                <span ng-show="formRegister.passwordx.$dirty && formRegister.passwordx.$error.required" class="help-block" translate="PASSWORDX_REQUIRED"></span>
                            </div>
                            <!-- /Repeat password -->

                            <!-- Agree box -->
                            <div class="form-group">
                                <span data-toggle="checkbox" class="checkbox btn btn-default"></span>
                                <label class="control-label">
                                    <input type="checkbox" class="form-control" data-three-state="false" data-toggle="checkbox-x" ng-model="agree" required> Agree ?
                                </label>
                            </div>
                            <!-- /Agree box-->

                            <!-- Show error message -->
                            <div ng-show="registerError" class="help-block">{{registerError}}</div>
                            <!-- /Show error message -->

                            <button type="submit" class="btn-primary btn-block" ng-disabled="formRegister.$invalid || dataLoading" translate="REGISTER_BTN"></button>
                            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </form>
                        <blockquote class="notice" translate="REGISTER_NOTICE"></blockquote>
                        <a ng-click="toggle('loginForm')" translate="SIGN IN"></a>
                    </div>
                </div>
            </div>
            <!-- /Register form -->
        </div>
        </div>
    </div>
</div>