<div class="row">
    <div class="col-xs-12">
        <div class="well">
            <form novalidate ng-submit="password(user)" name="security" role="form" autocomplete="off">
                <table>
                    <tr>
                        <td translate="Current password"></td>
                        <td>
                            <input type="password"
                                   ng-model="user.currentPassword"
                                   name="currentPassword"
                                   placeholder="Please type current password"
                                   required="">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span ng-show="security.currentPassword.$dirty && security.currentPassword.$error.required" class="help-block" translate="Current password is required"></span>
                        </td>
                    </tr>
                    <tr>
                        <td translate="New password"></td>
                        <td>
                            <input type="password"
                                   ng-model="user.newPassword"
                                   name="newPassword"
                                   placeholder="Please type new password"
                                   required="">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span ng-show="security.newPassword.$dirty && security.newPassword.$error.required" class="help-block" translate="New password is required"></span>
                        </td>
                    </tr>
                    <tr>
                        <td translate="Confirm password"></td>
                        <td>
                            <input type="password"
                                   ng-model="user.verifyPassword"
                                   nx-equal="user.newPassword"
                                   name="verifyPassword"
                                   placeholder="Please verify new password"
                                   required="">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span ng-show="security.verifyPassword.$dirty && security.verifyPassword.$error.required" class="help-block" translate="Verified password is required"></span>
                            <span ng-show="security.verifyPassword.$error.nxEqual" class="help-block" translate="Passwords are must be the same"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit"
                                    ng-class="{true: 'm-progress', false: ''}[loading === true]"
                                    class="btn-primary btn-block"
                                    ng-disabled="security.$invalid || loading"
                                    translate="Update password">
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>