<div class="row">
    <div class="col-xs-12">
        <div class="well">
            <form novalidate ng-submit="profile(user)" name="card" role="form" autocomplete="on">
                <div class="form-group">
                    <!-- Upload photo preview -->
                    <div class="button"
                         ngf-select
                         ngf-change="upload($files, $event)"
                         ng-model="user.photo"
                         ngf-capture="'camera'"
                         ngf-allow-dir="false"
                         accept="image/*"
                         ngf-multiple="false">
                        <img ng-src="{{user.photo}}" err-src="PROFILE" ngf-accept="'.png,.jpg,.gif'">
                        <!-- /Upload photo preview -->
                    </div>
                </div>
                <!-- Name -->
                <div class="form-group">
                    <input type="text"
                           ng-maxlength="40"
                           class="form-control"
                           ng-model="user.name"
                           name="name"
                           placeholder="{{ 'Your name' | translate }}"
                           required="">
                    <span ng-show="card.name.$dirty && card.name.$error.required" class="help-block" translate="Your name is required"></span>
                    <span ng-show="card.name.$dirty && card.name.$error.maxlength" class="help-block" translate="Name must be less than 40 symbols"></span>
                </div>
                <!-- /Name -->

                <!-- Surname -->
                <div class="form-group">
                    <input type="text"
                           ng-maxlength="40"
                           class="form-control"
                           ng-model="user.surname"
                           name="surname"
                           placeholder="{{ 'Your surname' | translate }}">
                    <span ng-show="card.surname.$dirty && card.surname.$error.maxlength" class="help-block" translate="Surname must be less than 40 symbols"></span>
                </div>
                <!-- /Surname -->

                <!-- About -->
                <div class="form-group">
                    <textarea ng-minlength="3"
                              ng-maxlength="500"
                              class="form-control"
                              ng-model="user.about"
                              name="about"
                              placeholder="{{ 'Additional information' | translate }}">
                        {{user.about}}
                    </textarea>
                    <span ng-show="card.about.$dirty && card.about.$error.minlength" class="help-block" translate="About must be greater than 3 symbols"></span>
                    <span ng-show="card.about.$dirty && card.about.$error.maxlength" class="help-block" translate="About must be less than 500 symbols"></span>
                </div>
                <!-- /About -->

                <button type="submit"
                        ng-class="{true: 'm-progress', false: ''}[loading === true]"
                        class="btn-primary btn-block"
                        ng-disabled="card.$invalid || loading"
                        translate="Update profile">
                </button>
            </form>
        </div>
    </div>
</div>