# Created by .gitignore support plugin (hsz.mobi)
.phalcon
*.phar
composer.lock
logs
.idea/*
DEVELOPER
vendor/bin
vendor/composer
vendor/ftugit
vendor/pdepend
vendor/phalcon-ext
vendor/phpmd
vendor/squizlabs
vendor/symfony
vendor/autoload.php