<div class="col-xs-12">
    <div class="well">
        <blockquote class="notice" translate="Restore Notify"></blockquote>
        <form novalidate name="formRestore" ng-submit="restore()" role="form" autocomplete="off">

            <!-- Login -->
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       ng-minlength="3"
                       ng-maxlength="40"
                       name="login"
                       ng-model="credentials.login"
                       placeholder="{{ 'Login invalid' | translate }}"
                       required="">
                <span ng-show="formRestore.login.$dirty && formRestore.login.$error.required" class="help-block" translate="Login Required"></span>
                <span ng-show="formRestore.login.$dirty && formRestore.login.$error.minlength" class="help-block" translate="Login is to small"></span>
                <span ng-show="formRestore.login.$dirty && formRestore.login.$error.maxlength" class="help-block" translate="Login is to large"></span>
            </div>
            <!-- /Login -->

            <!-- Show success message -->
            <div ng-show="restoreSuccess" class="success help-block">{{restoreSuccess}}</div>
            <!-- /Show success message -->

            <button type="submit"
                    ng-class="{true: 'm-progress', false: ''}[loading === true]"
                    class="btn-primary btn-block"
                    ng-disabled="formRestore.$invalid || loading"
                    translate="Restore">
            </button>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<div class="col-xs-12">
    <div class="well">
        <a ng-click="toggle('loginForm')" translate="Sign In"></a>
    </div>
</div>