<nav class="container" ng-controller="MenuController">
    <div class="row row-centered">

        <div class="col-xs-6 col-centered col-fixed">
            <div class="item">
                <div class="content">Bottom 1</div>
            </div>
        </div>

        <div class="col-xs-6 col-centered col-fixed">
            <div class="item">
                <div class="content">Bottom 2</div>
            </div>
        </div>

        <div class="col-xs-6 col-centered col-fixed">
            <div class="item">
                <div class="content">
                    <!-- Communities -->
                    <subscribe></subscribe>
                    <!-- /Communities -->
                </div>
            </div>
        </div>
    </div>
</nav>