@font-face {
    src: url('/assets/backend/fonts/BebasNeue-webfont.eot');
    src: url('/assets/backend/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/backend/fonts/BebasNeue-webfont.woff') format('woff'),
    url('/assets/backend/fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('/assets/backend/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clock {
    line-height: 16px;
    padding-top: 8px;
}

.clock #Date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.clock ul {
    width: 250px;
    padding: 0px;
    list-style: none;
}

.clock ul li {
    display: inline;
    font-size: 10px;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif
}

.clock #point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
}

@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}