<section class="row">

    <!-- Category items page  -->
    <article class="col-md-12">
        <hr>
        <h3 class="m_3">
            <span class="glyphicon glyphicon-book"></span> {{category.title}}
        </h3>
        <hr>
        <article class="m_desc justify" ng-bind-html="category.description"></article>
    </article>

    <article class="row col-md-12">

        <!-- Sidebar filter -->
        <aside id="sidebar" class="col-md-2"
               ng-include="'app/modules/catalogue/templates/sidebar.tpl.html'">
        </aside>
        <!-- /Sidebar filter -->

        <!-- @TODO Table with category items filter -->
        <div class="col-md-10" ng-if="!items">There none</div>
        <div class="col-md-10" ng-if="items" ng-include="'app/modules/catalogue/templates/itemgrid.tpl.html'">
            <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
                <div class="cbp-vm-options">
                    <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
                    <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
                </div>
                <ul>
                    <li ng-repeat="(key, item) in items">
                        <a class="cbp-vm-image" href="#">
                            <img ng-src="item.images" err-src="ITEM">
                        </a>
                        <h3 class="cbp-vm-title" data-ng-bind="item.name"></h3>
                        <div class="cbp-vm-price">$19.90</div>
                        <div class="cbp-vm-details" data-ng-bind="item.description">
                        </div>
                        <a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /@TODO Table with category items filter -->

    </article>
    <!-- /Category items page -->
</section>
<script type="text/javascript-lazy">

/*!
 * classie - class helper functions
 * from bonzo https://github.com/ded/bonzo
 *
 * classie.has( elem, 'my-class' ) -> true/false
 * classie.add( elem, 'my-new-class' )
 * classie.remove( elem, 'my-unwanted-class' )
 * classie.toggle( elem, 'my-class' )
 */

/*jshint browser: true, strict: true, undef: true */
/*global define: false */

( function( window ) {

'use strict';

// class helper functions from bonzo https://github.com/ded/bonzo

function classReg( className ) {
  return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
}

// classList support for class management
// altho to be fair, the api sucks because it won't accept multiple classes at once
var hasClass, addClass, removeClass;

if ( 'classList' in document.documentElement ) {
  hasClass = function( elem, c ) {
    return elem.classList.contains( c );
  };
  addClass = function( elem, c ) {
    elem.classList.add( c );
  };
  removeClass = function( elem, c ) {
    elem.classList.remove( c );
  };
}
else {
  hasClass = function( elem, c ) {
    return classReg( c ).test( elem.className );
  };
  addClass = function( elem, c ) {
    if ( !hasClass( elem, c ) ) {
      elem.className = elem.className + ' ' + c;
    }
  };
  removeClass = function( elem, c ) {
    elem.className = elem.className.replace( classReg( c ), ' ' );
  };
}

function toggleClass( elem, c ) {
  var fn = hasClass( elem, c ) ? removeClass : addClass;
  fn( elem, c );
}

var classie = {
  // full names
  hasClass: hasClass,
  addClass: addClass,
  removeClass: removeClass,
  toggleClass: toggleClass,
  // short names
  has: hasClass,
  add: addClass,
  remove: removeClass,
  toggle: toggleClass
};

// transport
if ( typeof define === 'function' && define.amd ) {
  // AMD
  define( classie );
} else {
  // browser global
  window.classie = classie;
}

})( window );

    setTimeout(function() {
        var container = document.getElementById( 'cbp-vm' ),
            optionSwitch = Array.prototype.slice.call( container.querySelectorAll( 'div.cbp-vm-options > a' ) );

        function init() {
            optionSwitch.forEach( function( el, i ) {
                el.addEventListener( 'click', function( ev ) {
                    ev.preventDefault();
                    _switch( this );
                }, false );
            } );
        }

        function _switch( opt ) {
            // remove other view classes and any any selected option
            optionSwitch.forEach(function(el) {
                classie.remove( container, el.getAttribute( 'data-view' ) );
                classie.remove( el, 'cbp-vm-selected' );
            });
            // add the view class for this option
            classie.add( container, opt.getAttribute( 'data-view' ) );
            // this option stays selected
            classie.add( opt, 'cbp-vm-selected' );
        }
        init();
    }, 5000);
</script>