<section class="row">
    <!-- Category items page  -->
    <article class="col-lg-12">
        <hr>
        <h3 class="m_3">
            <span class="glyphicon glyphicon-book"></span> {{category.title}}
        </h3>
        <hr>
        <article class="m_desc justify" ng-bind-html="category.description"></article>
    </article>

    <article>
        <!-- @TODO Table with category items filter -->
        <div ng-if="!items">There none</div>

        <!-- /@TODO Table with category items filter -->
    </article>
    <!-- /Category items page -->
</section>
<div>

</div>
