<section class="row" ng-show="isLoggedIn">
    <header class="col-md-12">
        <hr>
        <h3 class="m_3">
            <span class="glyphicon glyphicon-user"></span> Личный кабинет</h3>
        <hr>
    </header>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <!-- Tabs -->
        <ul class="tabs">
            <li>
                <input type="radio" name="tabs" id="tab1" checked />
                <label for="tab1" translate="Profile"></label>

                <!-- Edit profile form -->
                <div id="tab-content1"
                     class="tab-content"
                     ng-include="'app/modules/user/templates/forms/profile.tpl.html'">
                </div>
                <!-- /Edit profile form -->
            </li>
            <li>
                <input type="radio" name="tabs" id="tab2" />
                <label for="tab2" translate="Security"></label>

                <!-- Edit password form -->
                <div id="tab-content2"
                     class="tab-content"
                     ng-include="'app/modules/user/templates/forms/password.tpl.html'">
                </div>
                <!-- /Edit password form -->
            </li>
        </ul>
        <!-- Tabs -->
    </div>
</section>

