<div class="text-center sign-content">

        <div class="sign-header">

            <!-- Title -->
            <h4 class="modal-title" ng-bind="title" id="myModalLabel" translate="Sign In"></h4>
            <!-- /Title -->

            <!-- Help message -->
            <p ng-bind-html="message" translate="Sign Notice"></p>
            <!-- /Help message -->

        </div>

        <div class="sign-body">

            <!-- Login form -->
            <div class="row"
                 ng-show="loginForm === true"
                 ng-include="'app/modules/authenticate/templates/forms/login.tpl.html'">
            </div>
            <!-- /Sign form -->

            <!-- Register form -->
            <div class="row"
                 ng-show="registerForm === true"
                 ng-include="'app/modules/authenticate/templates/forms/register.tpl.html'">
            </div>
            <!-- /Register form -->

            <!-- Restore form -->
            <div class="row"
                 ng-show="restoreForm === true"
                 ng-include="'app/modules/authenticate/templates/forms/restore.tpl.html'">
            </div>
            <!-- /Restore form -->
        </div>
    </div>
